<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form action="/" method="post">
        {% csrf_token %}
        <input id="email" type="email" placeholder="email">
        <input id="application" type="text" placeholder="application">
        <input id="name" type="text" placeholder="name">
        <button id="emailVerify">Verify</button>
        <br>

        <input type="password" placeholder="password">
        <button type="submit">Login</button>
        <small>Not have an account? Register <a href="{% url 'register' %}">here</a></small>
    </form>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $("#emailVerify").on("click", e => {
            e.preventDefault();

            const email = $("#email").val();
            const name = $("#name").val();
            const application_id = $("#application").val();
            const csrfmiddlewaretoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                url: "/verify_email/",
                data: JSON.stringify({ email, name, application_id, csrfmiddlewaretoken }),
                method: "POST",
                contentType: "application/json",
                success: (res) => {
                    console.log(res)
                },
                error: (err) => {
                    console.log(err.responseJSON)
                }
            })
        })
    </script>
</body>

</html>