* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

p {
  color: grey;
}

#heading {
  text-transform: uppercase;
  color: #01062a;
  font-weight: normal;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

.form-card {
  text-align: left;
}

#msform fieldset {
  display: none;
}
/* #msform fieldset:not(:first-of-type) {
  display: none;
} */

#msform input,
#msform textarea,
#msform select {
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  background-color: #eceff1;
  font-size: 16px;
  letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #01062a;
  outline-width: 0;
}

#msform .action-button {
  width: 100px;
  background: #01062a;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: #01062a;
}

#msform .action-button-previous {
  width: 110px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #4d4d4d;
}

button:disabled,
button[disabled] {
  cursor: no-drop !important;
}

.card {
  z-index: 0;
  border: none;
  position: relative;
}

.fs-title {
  font-size: 25px;
  color: #01062a;
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}

.purple-text {
  color: #01062a;
  font-weight: normal;
}

.steps {
  font-size: 25px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.fieldlabels {
  color: gray;
  text-align: left;
}

#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: #01062a;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar #account:before {
  font-family: FontAwesome;
  content: "\f13e";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "\f007";
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "\f030";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #01062a;
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: #01062a;
}

.fit-image {
  width: 100%;
  object-fit: cover;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to right, #01062a, #004e92);
  min-height: 100vh;
}

body::-webkit-scrollbar {
  display: none;
}

h3 {
  text-align: center;
}

.wrapper {
  max-width: 80%;
  margin: 80px auto;
  padding: 30px 45px;
  box-shadow: 5px 25px 35px #3535356b;
}
.wrapper label {
  display: block;
  padding-bottom: 0.2rem;
}

.wrapper .form .row {
  padding: 0.6rem 0;
}

.wrapper .form .row .form-control {
  box-shadow: none;
}

.wrapper .form .option {
  position: relative;
  padding-left: 16px;
  cursor: pointer;
}

.wrapper .form .option input {
  opacity: 0;
}

.wrapper .form .checkmark {
  position: absolute;
  top: 1px;
  left: 2px;
  height: 20px;
  width: 20px;
  border: 1px solid #bbb;
  border-radius: 50%;
}

.wrapper .form .option input:checked ~ .checkmark:after {
  display: block;
}

.wrapper .form .option:hover .checkmark {
  background: #f3f3f3;
}

.wrapper .form .option .checkmark:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  background: linear-gradient(to right, #01062a, #004e92);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 300ms ease-in-out 0s;
}

.wrapper .form .option input[type="radio"]:checked ~ .checkmark {
  background: #fff;
  transition: 300ms ease-in-out 0s;
}

.wrapper .form .option input[type="radio"]:checked ~ .checkmark:after {
  transform: translate(-50%, -50%) scale(1);
}
.logout {
  position: absolute;
  right: 20px;
  top: 10px;
}
#sub {
  display: block;
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  color: #333;
}

#sub:focus {
  outline: none;
}

@media (max-width: 768.5px) {
  .wrapper {
    margin: 30px;
  }

  .wrapper .form .row {
    padding: 0;
  }
}

@media (max-width: 400px) {
  .wrapper {
    padding: 25px;
    margin: 20px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.card .b {
  color: #c0c0c0;
  border-radius: 30px;
  padding: 20px;
  margin: auto;
}
card:hover {
  background-color: #29c68c;
}
body {
  font-family: "Open Sans", sans-serif;
}
.flex-item-right {
  flex: 500%;
}
